.infocard {
  flex: 1;
  cursor: pointer;
}

.infocard:not(:last-child) {
  margin-right: 10px;
}

.infocard--selected {
  border-top: 10px solid greenyellow;
}

.infocard--red {
  border-color: red;
}

.infocard__cases--green {
  color: lightgreen !important;
}

.infocard__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infocard__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
